<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <center><img src="<%= user.img %>" style="width: 150px; height:150px; object-fit:contain;margin-bottom:20px; " />
    </center>
    <h1>Hi <strong><%= user.name %></strong> Thank you for joining us. </h1>
    <p>I hope we have beautiful relation in future</p>
    <a href="<%= user.url %>">Click on this link</a>

</body>

</html>